button {
  margin-left: 2rem;
  padding: 0.3rem;
  background: #eee;
  /* border: none; */
}

.complete {
  text-decoration: line-through;
}

.container-todo {
}

.error {
  background-color: pink;
  color: red;
  width: 200px;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem auto;
}

.container-tasks {
  display: flex;
  justify-content: space-evenly;
}

.container-ta {
  display: flex;
  align-items: center;
  justify-content: center;
}
