button {
  margin-left: 2rem;
  padding: 0.3rem;
  background: #eee;
  /* border: none; */
}

.complete {
  text-decoration: line-through;
}

.container-todo {
  display: flex;
  align-items: center;
  justify-content: center;
}
